.container {
    text-align: center;
}
.buscar-for-name{
    text-align: left;
}
body {
    background-color: rgb(240, 136, 136);
    margin: 0; /* Elimina el margen predeterminado del body para ocupar toda la página */
}
article.card{
    background-color: rgb(240, 136, 136);
    margin: 0;
}
article.modal-content{
    text-align: center;
    background-color: rgb(240, 136, 136);
    margin: 0;
}

.image-profile{
    width: 320px;

}
.imagen-pokemon{
    width: 240px;
}
